body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Cor de fundo geral */
  color: #333; /* Cor do texto geral */
}

header {
  background-color: skyblue; /* azul claro */
  color: #fff;
  text-align: center;
  padding: 1%;
  border: 3%;
  border: solid black;
  border-radius: 10px;
  margin-bottom: 2%;
}

.logo {
  text-align: center;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

nav {
  text-align: center;
  margin: 2% ;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.7% 1%;
  margin: 1.6%;
  border: 1%;
  border: solid black; /*  bordas rosa */
  border-radius: 5px; /*bordas redondas*/
  cursor: pointer;
  background-color: lightgreen; /* azul claro que eu acho legal */
  transition: nav a 0.3s ease-in-put;
}

nav a:hover {
  background-color: orange; /* laranja */
  border-color: #pink; /* Amarelo mais claro */
}

  section video {
    background-color: #FFFFE0;
    border: 1%;
    border: solid black;
    border-radius: 10px;
    width: 70%:
}


section img{
  margin-left: 1%;
  align-items: center;
  border: 2px;
  border: solid black;
  border-radius: 12%;
  width: 30%;
  transition: width 0.3 ease-in;
}

section img:hover {
  background-color: lightyellow;
  text-align: center;
  margin-left: 1%;
  align-items: center;
  transform: scale(140%);

}


section h1{
  display: block;
  font-family: cursive;
  color: orange;
}



   section h2{
     text-align: center;
    font-style: oblique;
    color: lightgreen;
    font-size: 20px;
  }


.section-content {
  transition:  4.8 ease;
  text-align: center;
  align-items: left;
  width: 70%;
  height: 50%;
  margin: 10px auto;
  background-color: #fffbf0; /* Amarelo mais claro para as seções */
  padding: 20px;
  border: 0.1%;
  border: solid #ffcc00; /* Amarelo mais claro */
  border-radius: 10px;
  margin-bottom: 2.5%;
  z-index: 4;

}

footer h2{
  font-size: 10px;
  font-family: cursive;
  background-color:

}

  footer h1{
    font-size: 20px;
    color: orange;
    font-family: cursive;
  }

  footer{
    text-align: center;
    background-color: skyblue;
    padding: 0.5%;
    border: 1%;
    border: solid black;
  }
