body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  background: linear-gradient(180deg, #26a0e8 16%, #5fbdf4 20%, #7bcef7 40%, #96defa 60%, #b2effc 90%);
}

header {
  background-color: #26a0e8;
  color: #fff;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
}

.logo {
  width: 40%;
  margin: 0 auto;
}

nav {
  text-align: center;
  margin: 2%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  padding: 0.6% 1.6%;
  margin: 2%;
  border: solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b2effc;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: orange;
  border-color: black;
}

section video,
section img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

section video {
  background: radial-gradient(orange 0%, lightorange 50%, lightorange 100%);
  border: solid orange;
  border-radius: 10px;
  width: 90%;
  max-width: 100%;
  text-align: center;
}

section img {
  border: solid orange;
  border-radius: 12%;
  max-width: 100%;
  transition: transform 0.3s ease-in;
}

section img:hover {
  transform: scale(1.2);
}

section h1 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  font-family: cursive;
  margin-top: 0.5%;
  color: rgb(255, 133, 3);
}

section h2 {
  line-height: 24px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  color: rgb(99, 194, 99);
}

.section-content {
  width: 90%;
  text-align: center;
  margin: 10px auto;
  background-color: #fffbf0;
  padding: 20px;
  border: solid #ffcc00;
  border-radius: 10px;
  margin-bottom: 2.5%;
}

footer h2 {
  font-size: 17px;
  font-family: cursive;
}

footer h1 {
  font-size: 30px;
  color: orange;
  font-family: cursive;
}

footer {
  text-align: center;
  background-color: rgb(109, 190, 248);
  padding: 0.5%;
  border-top: solid black;
}
