  :root{
    --cor-tema: white;
    --borda: white;
  }
  
  *{
    margin: 0;
    padding: 0;
  }

  body {
    height: auto;
    text-align: center;
    background: linear-gradient(180deg, #000000, hsl(228, 76%, 7%));/*degrade de cor*/
  }

  .cabecalho {
    color: #fff;
    text-align: center;
    padding: 2%;
    border: 3%;
    margin-bottom: 3%;
  }

  .logo-cabecalho{
    text-align: center;
    min-width: 10%;
    text-align: center;
    left: 100%;
    transition: all 0.6s ease;
    z-index: 1;
    width: 40%;
    animation: fade-in 2s alternate ease;
  }
  .logo-cabecalho:hover{
    transform: scale(1.2);
    text-align: center;
    min-width: 10%;
    text-align: center;
    left: 100%;
    z-index: 1;
    width: 40%;
    
  } @keyframes fade-in {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

 
  .cabecalho-item{
    animation: back 3s alternate;
    text-align: center;
    margin-top: 2% ;
  }
  @keyframes back {
    from{
      transform: translate(10px);
      opacity: 0;
    }
    to{
      transform: translate(0px);
      opacity: 1;
    }

  }
 
  
  .cabecalho-item a{
    transition: all 0.1s ease-in-out;
    text-align: center;
    margin: 2% ;
    text-decoration: none;
    color: black;
    padding: 0.6% 1.6%;
    margin: 1%;
    border: 1px solid rgb(72, 67, 67);
    border-radius: 5px;
    background-color: #325487;
  }
   
  .cabecalho-item a:hover{
    box-shadow:#5bb3c4 -2px 2px 5px ;
    background:linear-gradient(140deg,#00d9ff 0%, #0084ff 50%,#023390 100%);
    transform: scale(90%);
  }

.foto-rangers{
  margin:2%;
display:flex;
justify-content:center;
align-items:center;
grid-template-columns: 20% 20% 20%  20% ;
gap: 3%;
transition: filter 1s ease-in-out;
}

  .foto-rangers:hover .rangers{
    filter: blur(7px);

  }
  .rangers:hover{
    filter: blur(0px)!important;
  }
  @media screen and (max-width: 767px) {
    .foto-rangers{
      display: grid;
      flex-direction: column;
      grid-template-columns: 20% 20% 20% ;
      margin-bottom:10%;
      gap: 7%;
      }
      .rangers{
        width: 120%;
      }
      #hidden{
        display: none;
      }.rangers:hover #hidden{
        display: block;
      }
      
  }
  #hidden img{
    width: 20%;
  }

  .section-local{
    margin: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 16%, 94%);
  }

.titulo-contato{
  margin-top: 3% ;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 0.5%;
  color: rgb(247, 245, 242);
}

.section-local iframe{
  text-align: center;
  border: 1%;
  border: solid black;
  margin-bottom: 3%;
  border-radius: 10px;
}

h2{
  color: #000000;
}
.rangers{
  font-family: cursive;
  border: 1.5px solid rgb(3, 16, 15);
  border-radius: 12px;
  background-color: #083d69;
  padding:10px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.icone:hover{
  border-bottom:1px solid black;
}
.rangers:hover{
  filter: blur(0px) !important;
  box-shadow: grey -3px 3px 8px;
  transform: translateY(-10px);
  z-index: 10;
}
.fotos-rangers{
  
  margin-top: 10px;
  border-bottom: 2px solid black;
}
 
.rangers .fotos-rangers{
  border: 2px solid black;
  border-radius:90%;
  width:90%;
  transition: transform 0.5s ease-in-out;
  animation: fundo 0.3s infinite;
  animation-delay: 0.6s;
  }


.nome-rangers{
  text-align:center;
  font-size: 15px;
  margin-top: -2px;
  color:#171414
}

.icone{
  margin: 10px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  width: 45px;
}


  .lado{
    width: 1000px;
    position: relative;
    margin-right: 10px;
    text-align: right;
  }

  
  .section-content {
    text-align: center;
    width: 90%;
    height: 20%;
    background: linear-gradient(180deg, #000000, hsl(229, 96%, 9%));
    margin: 10px auto;
    overflow: auto;
    padding: 20px;
    border: 1px solid rgb(249, 247, 247);
    border-radius: 10px;
    margin-bottom: 2.5%;
    z-index: 4;
  }
  @media screen and (max-width: 767px) {
    .section-content{
      width: 85%;

    }
    
  }

  .section-content-contato {
    text-align: center;
    width: 90%;
    height: 20%;
    margin: 10px auto;
    background: linear-gradient(180deg, #000000, hsl(228, 97%, 11%));
    border: 1px;
    border: solid rgb(255, 234, 234);
    border-radius: 10px;
    margin-bottom: 2.5%;
    z-index: 4;
    color: #000000;
  }

  .section-content video{
    background-color: rgb(2, 21, 27);
    border:2px  solid white;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    transition: all 0.3s ease;
  }

  .section-content video:hover{
    box-shadow: #474646 0 0 33px;
    background: radial-gradient( #031e31 10%, #051234 100%) ;
    border: 1%;
    border: solid white;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    transform: scale(95%);
    
  }

  .section-content img{
    background-color: rgb(2, 21, 27);
    margin-left: 1%;
    align-items: center;
    border: 2px;
    border: solid var(--borda);
    border-radius: 12%;
    width: 30%;
    height: 30%;
    transition: transform 0.4s ease;
  }


  .section-content img:hover {
    background: radial-gradient( #03053e 50%, #03174b 100%) ;
    margin-left: 1%;
    align-items: center;
    border: 2px;
    border: solid var(--borda);
    border-radius: 8%;
    transform: scale(2.5);
    z-index: 11;
    transform: scale(2.3) translatey(-30px);
    box-shadow: #000000 0 0 33px;
  }

  section h1{
    z-index: 5;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 1.5%;  
    color: #f9f6f6;
  }

  section h2{
    line-height: 24px;
    margin-left: 10%;
    margin-right: 10%;
    transform: scale(1.1);
    text-align: center;
    color: rgb(99, 194, 99);
    font-size: 20px;
  }

  section h3{
    font-size: large;
  }

  section{
    text-align: center;
  }


  footer h2, h3{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 8px;
  }

  footer h1 {
    text-decoration: none;
    font-size: 17px;
    color: #ffa500;
  }


  footer{
    text-decoration: none;
    text-align: center;
    background-color: #000304;
    padding: 1%;
    margin-top: 4%;
    border-top: 2px solid white;
  }footer a{
    text-decoration: none;
  }


  .credito{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy b{
    color: #ffa500;
  }


  .lista-contatos {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.lista-contatos-bruno {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}


.item-contato {
  margin: 0 5px;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #140909;
    border-radius: 5px;
    background-color: #083d69;

    box-sizing: border-box;
}

.tipo-contato {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.info-contato {
    display: block;
}

.link-github {
    color: #f3efef;
    font-size: 19px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-github:hover {
    text-decoration: underline;
    color: #00ff33;
}
@media screen and (max-width: 767px) {
    .info-contato {
        display: block;
        font-weight: 400;
        font-size: 10px ;
    }
}

.TITULO-PRINCIAL{
  content: "33";
  font-size: 37px;
  margin: 1% 0 1.5% 0;
  text-decoration: none;
  padding-bottom: 5px;
  color: #fdfdfc;
}

.inicio{
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 40% 40%;

}

.inicio img{
  text-align: left;
  border-radius: 13px;
  margin: 2%;
  width: 80%;
}
.inicio h3{
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .inicio{
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .inicio img{
    text-align: left;
    border-radius: 13px;
    margin-bottom: 4%;
    width:65%;
  }
  .inicio h3{
    text-align: left;
    width: 80%;
  }
  
}
.image-align{
  overflow: scroll;
  display: flex;
}